@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Oxanium', cursive;
}

.classCorno {
    background: linear-gradient(to bottom, #6ab7f5, #FFF);
    color:rgb(255, 0, 0); 
    text-align: center;
    min-height: 100vh;
}